absl-py==2.1.0 ; python_full_version == "3.10.12"
cloudpickle==3.0.0 ; python_full_version == "3.10.12"
contourpy==1.2.1 ; python_full_version == "3.10.12"
cycler==0.12.1 ; python_full_version == "3.10.12"
decorator==5.1.1 ; python_full_version == "3.10.12"
dm-tree==0.1.8 ; python_full_version == "3.10.12"
fonttools==4.53.1 ; python_full_version == "3.10.12"
gast==0.6.0 ; python_full_version == "3.10.12"
jax==0.4.13 ; python_full_version == "3.10.12"
jaxlib==0.4.13 ; python_full_version == "3.10.12"
jaxtyping==0.2.15 ; python_full_version == "3.10.12"
kiwisolver==1.4.5 ; python_full_version == "3.10.12"
matplotlib==3.7.2 ; python_full_version == "3.10.12"
ml-dtypes==0.4.0 ; python_full_version == "3.10.12"
numpy==1.26.2 ; python_full_version == "3.10.12"
opt-einsum==3.3.0 ; python_full_version == "3.10.12"
packaging==24.1 ; python_full_version == "3.10.12"
pandas==1.5.3 ; python_full_version == "3.10.12"
pillow==10.4.0 ; python_full_version == "3.10.12"
pyparsing==3.0.9 ; python_full_version == "3.10.12"
python-dateutil==2.9.0.post0 ; python_full_version == "3.10.12"
pytz==2024.1 ; python_full_version == "3.10.12"
scipy==1.11.3 ; python_full_version == "3.10.12"
seaborn==0.12.2 ; python_full_version == "3.10.12"
six==1.16.0 ; python_full_version == "3.10.12"
tensorflow-probability==0.20.1 ; python_full_version == "3.10.12"
typeguard==4.3.0 ; python_full_version == "3.10.12"
typing-extensions==4.12.2 ; python_full_version == "3.10.12"
